@import "tailwindcss";

body {
  background: #F2F0ED;
  color: #000000;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  /* display: flex; */
  /* place-items: center; */
  /* min-height: 100vh; */
  /* max-width: fit-content; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

container {
  background: #F2F0ED;
  color: #000000;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  display: flex;
  place-items: center;
  min-height: 100vh;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
